body {

	padding: 20px;
	font-family: 'Lato', verdana;;
}


div > p {
	
	 border :2px solid #fabada;
	 padding: 5px;
	 


}
.importante {
	font-weight: normal;


}

.importante ~ p {
	color:red;
}